.listener-show{
  height: 400px;
  padding-top: 60px;
  .listener-show__title{
    color: $title;
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .listener-show__menulist{
    font-size: 17px;
    margin-bottom: 15px;
    &--listeneredit {
      height: 50px;
      line-height: 50px;
      background-color: rgb(223, 223, 223);
      border-left:solid 6px #aaaaaa;
      margin-bottom: 5px;
      a{
        padding-left: 10px;
        color: $title;
        text-decoration: none;
      }
    }
    &--favorites{
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      background-color: rgb(223, 223, 223);
      border-left:solid 6px #aaaaaa;
      margin-bottom: 5px;
      a{
        color: $title;
        text-decoration: none;
      }
    }
    &--followartists{
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      color: $title;
      background-color: rgb(223, 223, 223);
      border-left:solid 6px #aaaaaa;
      a{
        cursor: pointer;
      }
      .followartists-name{
        height: 300px;
        overflow: scroll;
        li{
          border-bottom: solid 1px $text;
          a{
            color: $text;
            text-decoration: none;
            cursor: pointer;
          }
        }
        
      }
    }
  }
}