.devise-registration
  .devise-registration__header
  .devise-registration__main
    .devise-registration__main__top　ユーザーログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "user__form" }) do |f|
      .field
        %label.field--title メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "field-input"
      .field
        %label.field--title パスワード
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "field-input"
      .actions
        = f.submit "ログイン",class: "submit"

