.link{
  color: white;
  text-decoration: none;
}
.header{
  background-color: black;
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
  margin-bottom: 60px;
  &--logo{
    height: 100%;
    width: 170px;
    position: relative;
    a{
      @include all-link-option ();
    }
  }
  &__menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--left{
      height: 100%;
      width: 200px;
      line-height: 60px;
    }
    &--search{
      height: 100%;
      line-height: 60px;
      .search-input{
        width: 200px;
        border-radius: 5px;
      }
    }
    &--right{
      height: 100%;
      width: 300px;
      display: flex;
      color: white;
      ul.header__lists{
        width: 150px;
        margin: 0 0 0 auto;
        text-align: center;
        li.dropdown-btn{
          line-height: 60px;
          position:relative;
          color: white;
          a{
            letter-spacing: 0.1em;
          }
          .toggle{
            cursor: pointer;
          }
          ul.dropdown{
            line-height: 60px;
            display:none;
            position:relative;
            z-index:100;
            li{
              background:#666;
            }
          }
        }
      }
    }
  }
}