.field-error{
  font-size: 13px;
  color: rgb(255, 94, 94);
  display: inline;
}
.devise-registration{
  height: 100%;
  font-size: 15px;
  &__main{
    width: 700px;
    margin: auto;
    background-color: white;
    &__top{
      height: 100px;
      width: 100%;
      font-size: 25px;
      font-weight: 600;
      border-bottom:solid 1px rgb(205, 205, 205);
      text-align: center;
      line-height: 100px;
      letter-spacing: 0.1em;
    }
    .user__form{
      padding: 40px 150px;
      .field{
        margin-top: 30px;
        &--title{
          font-weight: 500;
          line-height: 1em;
        }
        &--span{
          @include span ();
          background-color: rgb(255, 46, 46);
        }
        .field-input{
          @include field-input ();
        }
        label {
          text-align: center;
        }
      }
      .submit{
        @include submit ();
      }
    }
  }
}
.field--imagetitle{
  margin-bottom: 200px;
}
.form__image--btn{
  display: none;
}
#image_prev{
  cursor: pointer;
  margin: 0 auto;
  border: solid 1px $title;
}