.artist-show__top{
  height: 400px;
  width: 100%;
  display: table;
  overflow: hidden;
  position: relative;
  &--background{
    height: 400px;
    @include back-ground-option ();
    margin : -10px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  &--background::before{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
  &--artist{
    height: 200px;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 500px;
    font-size: 30px;
    color: white;
  }
}
.artist-show__content{
  height: 1000px;
  width: 100%;
  .artist-show__content__left{
    height: 500px;
    width: 350px;
    margin-left: 50px;
    background-color: white;
    position: absolute;
    top: 180px;
    box-shadow: 0px 0px 6px 4px rgba(53, 53, 53, 0.753);
    &--image{
      padding: 20px 0;
      text-align: center;
    }
    &__menulist{
      li{
        height: 50px;
        padding-left:20px;
        font-size: 17px;
        line-height: 50px;
        margin-bottom: 15px;
        color: $title;
        a{
          color: $title;
          text-decoration: none;
        }
      }
    }
    &--follow{
      margin: 0 auto;
      height: 25px;
      width: 110px;
      text-align: center;
      @include link-button();
    }
    &--follow:hover{
      @include link-button-hover();
    }
  }
  .artist-show__content__right{
    width: 65%;
    margin: 20px 40px 20px 0;
    float: right;
    &__top{
      width: 100%;
      padding: 20px;
      background-color: white;
      float: right;

      &--title{
        font-size: 20px;
        color: $title;
        border-bottom: solid 1px darkgrey;
      }
    }
    &__bottom{
      width: 100%;
      margin-top: 30px;
      padding: 20px;
      background-color: white;
      float: right;
      &--posttitle{
        font-size: 20px;
        color: $title;
        border-bottom: solid 1px darkgrey;
      }
      &__posts{
        color: $text;
        margin: 10px;
        &--text{
          padding-top: 20px;
          position: relative;
          margin-bottom: 20px;
          a{
            color: $title;
            text-decoration: none;
            @include all-link-option ();
          }
        }
      }
    }
  }
}