.index-content__right__listener-signedin{ style: "background-image: url('/assets/listener.jpg')"}
  .listener-signedin--text
    リスナー新規登録はこちら
  = link_to "", new_listener_registration_path
.index-content__right__artist-signedin{ style: "background-image: url('/assets/artist.jpg')"}
  .artist-signedin--text
    アーティスト新規登録はこちら
  = link_to "", new_artist_registration_path