.show-content
  .show-content__left
    .show-post__content--youtube
      = @post.youtube_url
    .show-post__content--artistimage
      = @post.artistimage
    .show-post__content--title
      = @post.title
    .show-post__text
      = @post.text
      
