
.index-content{
  height: 1000px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: image-url("live.jpg");
  &__center{
    margin: 0 auto;
    padding-top: 20px;
    height: 100%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.815);
    .index-post__lists{
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 8px;
      .index-post__content{
        height: 300px;
        width: 300px;
        border: 4px double;
        border-image: linear-gradient(90deg, #3a3a3a,#aaa, #3a3a3a) 1/4px 0 4px;
        background-color: white;
        text-align: center;
        margin: 0 10px 10px 10px;
        padding: 10px;
        &--artistimage{
          height: 172px;
          width: 272px;
          line-height: 180px;
          position: relative;
          background-color: yellowgreen;
        }
        &--artistimage img{
          height: 172px;
          width: 272px;
          object-fit: contain;
          vertical-align: top;
        }
        .index-post__content--artistimage a {
          position: absolute;
          top: 0;
          left: 0;
          height:100%;
          width: 100%;  
        }
        &--artistname{
          font-size: 20px;
          font-weight: bold;
          @include title();
        }
        &--text{
          height: 50px;
          text-align: left;
          @include text();
        }
      }
    }
  }
}