
.index-content{
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__center{
    padding-top: 20px;
    height: 100%;
    width: 70%;
    margin-left: 50px;
    .index-post__lists{
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 8px;
      .index-post__content{
        height: 290px;
        width: 292px;
        text-align: center;
        margin: 0 10px 10px 10px;
        padding: 10px;
        &--artistimage{
          height: 152px;
          width: 252px;
          margin: 0 auto;
          line-height: 180px;
          position: relative;
        }
        &--artistimage img{
          height: 152px;
          width: 252px;
          object-fit: cover;
          vertical-align: top;
          border-radius: 20px;
        }
        .index-post__content--artistimage a {
          position: absolute;
          top: 0;
          left: 0;
          height:100%;
          width: 100%;  
        }
        &--artistname{
          font-size: 20px;
          color: $title;
        }
        &--text{
          height: 50px;
          text-align: left;
          color: $text;
        }
      }
      .index-post__content:hover{
        background-color: rgb(231, 231, 231);
        transition: 0.5s ;
      }
    }
  }
  &__right{
    padding-top: 20px;
    width: 20%;
    height: 100%;
    margin-right: 50px;
  }
}