.show-content{
  height: 100%;
  width: 100%;
  padding-top: 60px;
  display: flex;
  &__left{
    width: 65%;
    padding: 20px;
    .show-post__content__title{
      height: 40px;
      width: 100%;
      font-size: 27px;
      color: $title;
      margin-bottom: 10px;
    }
    .show-post__content__tag{
      height: 30px;
      width: 860px;
      display: flex;
      line-height: 30px;
      &--content{
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin-right: 14px;
        display: inline-block;
        border: solid 1px $title;
        border-radius: 5px;
      }
    }
    .show-post__content__text{
      width: 860px;
      font-weight: lighter;
      letter-spacing: .1em;
      margin-top: 20px;
      padding: 20px;
      color: $text;
      .text-title{
        font-size: 20px;
        color: $title;
        border-bottom: solid 1px darkgrey;
      }
    }
  }
  &__right{
    width: 35%;
    padding: 20px;
    .show-post__content__comment{
      height: 615px;
      width: 100%;
      &--form{
        height: 50px;
        width: 100%;
        .comment-input{
          width: 350px;
          height: 40px;
          padding: 10px;
          border: solid 1px  rgb(205, 205, 205);
          border-radius: 4px;
        }
        .comment-submit{
          height: 40px;
          width: 70px;
          background-color: rgb(205, 205, 205);
          border-radius: 4px;
          border: none;
        }

      }
      &--board{
        height: 440px;
        margin-top: 10px;
        font-size: 15px;
        overflow: scroll;
        overflow-wrap: break-word;
        .board--nickname{
          color: $title;
        }
        .board--comment{
          color: $text;
        }
      }
    }
    .show-post__content__artist{
      margin: 0 auto;
      padding-top: 20px;
      text-align:center;
      height: 500px;
      width: 60%;
      background-color: rgb(236, 236, 236);
      &--title{
        font-size: 20px;
        color: $title;
        border-bottom: solid 1px darkgrey;
      }
      &--image{
        margin-top: 40px;
        img{
          text-align:center;
          @include artist-icon();
        }
      }
      &--date{
        margin-top: 50px;
      }
      &--follow{
        margin: 0 auto;
        margin-top: 50px;
        height: 25px;
        width: 110px;
        text-align: center;
        @include link-button();
      }
      &--follow:hover{
        @include link-button-hover();
      }
      &--link{
        margin: 0 auto;
        margin-top: 30px;
        height: 25px;
        width: 80px;
        @include link-button();
      }
      &--link:hover{
        @include link-button-hover();
      }
    }
  }
}
