.listener-show
  .listener-show__title
    こんにちわ！
    %br
    = @listener.nickname 
    さん
  %ul.listener-show__menulist
    %li= link_to "ユーザー編集", edit_listener_registration_path
    %li= link_to "フォローアーティスト一覧", "#"
  - @followartists.each do |follower|
    = follower.artistname